.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &__form {
        display: flex;
        width: 80%;

        &--input {
            width: 80%;
        }

        &--button {
            width: 15%;
        }
    }
}

.search-default {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
